services:
  app:
    build: .
    container_name: litclub-app
    environment:
      DB_HOST: host.docker.internal
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      INVITE_SECRET: ${INVITE_SECRET}
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: sh -c "echo 'DB_NAME is:' $DB_NAME && java -jar app.jar"